In [1]:
import pandas as pd

In [ ]:
#NOAA Global Summary of the Day CSV dataset

In [7]:
NOAA = pd.read_csv("NOAA_2017-2019.csv")

In [8]:
NOAA.shape

(5226, 32)

In [9]:
NOAA.columns

Index(['STATION', 'NAME', 'LATITUDE', 'LONGITUDE', 'ELEVATION', 'DATE', 'DEWP',
       'DEWP_ATTRIBUTES', 'FRSHTT', 'FRSHTT_ATTRIBUTES', 'GUST',
       'GUST_ATTRIBUTES', 'MAX', 'MAX_ATTRIBUTES', 'MIN', 'MIN_ATTRIBUTES',
       'MXSPD', 'MXSPD_ATTRIBUTES', 'PRCP', 'PRCP_ATTRIBUTES', 'SLP',
       'SLP_ATTRIBUTES', 'SNDP', 'SNDP_ATTRIBUTES', 'STP', 'STP_ATTRIBUTES',
       'TEMP', 'TEMP_ATTRIBUTES', 'VISIB', 'VISIB_ATTRIBUTES', 'WDSP',
       'WDSP_ATTRIBUTES'],
      dtype='object')

In [23]:
#NOAA Wind Subset
NOAA_wind = NOAA[['STATION','NAME', 'LATITUDE', 'LONGITUDE', 'ELEVATION', 'DATE', 'GUST',
                 'MAX', 'MAX_ATTRIBUTES', 'GUST', 'MXSPD','WDSP','WDSP_ATTRIBUTES']]

#NOAA Precipitation Subset
NOAA_percip = NOAA[['STATION','NAME', 'LATITUDE', 'LONGITUDE', 'ELEVATION', 'DATE',
                    'DEWP', 'DEWP_ATTRIBUTES','FRSHTT', 'FRSHTT_ATTRIBUTES', 'PRCP','PRCP_ATTRIBUTES' ]]

#NOAA Temperature Subset
NOAA_temp = NOAA[['STATION','NAME', 'LATITUDE', 'LONGITUDE', 'ELEVATION', 'DATE', 'STP', 'STP_ATTRIBUTES', 'TEMP', 'TEMP_ATTRIBUTES']]


#NOAA Visibility Subset
NOAA_visib = NOAA[['STATION','NAME', 'LATITUDE', 'LONGITUDE', 'ELEVATION', 'DATE','VISIB', 'VISIB_ATTRIBUTES']]

In [10]:
#General conventions: Times are in Local Standard Time (LST) unless otherwise noted.
#Temperatures are given in whole degrees F and tenths of degrees C (as noted below). 
#Wind speeds are in miles per hour, with wind direction given using a 360 degree compass 
#indicating the direction from which the wind was blowing with respect to true north
#(e.g. 360 = winds blowing from true north, 180 = south, etc.). Precipitation amounts 
#are given in inches, usually to the nearest hundredth, unless otherwise noted. 
#Trace amounts of precipitation are indicated with a “T.” 
#Departures from normal are given for some elements using 1981-2010 as the standard for normal.
#Further information concerning these generalities and units of measure are given where needed
#for  each section below.

In [11]:
NOAA.head()

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,DEWP,DEWP_ATTRIBUTES,FRSHTT,FRSHTT_ATTRIBUTES,...,SNDP,SNDP_ATTRIBUTES,STP,STP_ATTRIBUTES,TEMP,TEMP_ATTRIBUTES,VISIB,VISIB_ATTRIBUTES,WDSP,WDSP_ATTRIBUTES
0,72384023155,"BAKERSFIELD AIRPORT, CA US",35.43440,-119.05420,149.0,2/18/17,44.3,24,10000,NaN,...,NaN,NaN,979.6,24,57.0,24,9.8,24,8.2,24
1,72381023114,"EDWARDS AFB, CA US",34.90000,-117.86667,704.4,2/18/17,45.3,24,10000,NaN,...,NaN,NaN,918.1,24,48.6,24,35.5,24,7.1,24
2,74612093104,"CHINA LAKE NAF, CA US",35.68750,-117.69310,679.7,2/18/17,42.5,6,10000,NaN,...,NaN,NaN,918.7,6,48.3,6,9.8,6,14.0,6
3,72317153144,"EDWARDS AFB NORTH AUXILIARY AIRFIELD, CA US",34.98833,-117.86472,695.9,2/18/17,44.4,24,10000,NaN,...,NaN,NaN,919.5,24,47.8,24,5.0,24,6.1,24
4,74612093104,"CHINA LAKE NAF, CA US",35.68750,-117.69310,679.7,5/25/17,23.9,24,0,NaN,...,NaN,NaN,922.5,24,85.6,24,10.0,24,15.3,24

In [12]:
NOAA.groupby('STATION').mean()

,LATITUDE,LONGITUDE,ELEVATION,DEWP,DEWP_ATTRIBUTES,FRSHTT,FRSHTT_ATTRIBUTES,GUST,GUST_ATTRIBUTES,MAX,...,SNDP,SNDP_ATTRIBUTES,STP,STP_ATTRIBUTES,TEMP,TEMP_ATTRIBUTES,VISIB,VISIB_ATTRIBUTES,WDSP,WDSP_ATTRIBUTES
STATION,,,,,,,,,,,,,,,,,,,,,
72295303183,35.06667,-118.150000,849.5,33.661644,23.785388,308.264840,NaN,30.441457,NaN,77.195205,...,NaN,NaN,917.859361,23.254566,64.648973,23.793379,9.864726,23.775114,10.449658,23.791096
72317153144,34.98833,-117.864720,695.9,34.748752,23.173456,3381.156373,NaN,26.330017,NaN,81.662549,...,NaN,NaN,934.551905,22.440210,64.447043,23.185283,9.004993,23.180026,8.113535,23.183968
72381023114,34.90000,-117.866670,704.4,33.836333,23.584282,1858.849658,NaN,28.320737,NaN,80.722210,...,NaN,NaN,933.786560,22.908884,63.632005,23.630979,43.032232,23.626424,9.014237,23.629841
72384023155,35.43440,-119.054200,149.0,44.841090,23.979569,4824.131669,NaN,19.978339,NaN,82.137003,...,NaN,NaN,712.476504,23.982974,68.065380,23.997730,9.241884,23.996595,5.048014,23.989784
74612093104,35.68750,-117.693100,679.7,30.228588,23.368235,1305.988235,NaN,26.632212,NaN,84.220471,...,NaN,NaN,933.589059,23.321176,67.569412,23.383529,9.948706,23.368235,7.205294,23.162353
74917100479,35.13490,-118.439300,1219.5,35.471194,23.468384,9879.484778,NaN,23.951555,NaN,68.691335,...,NaN,NaN,880.368150,22.916862,55.589930,23.473068,9.290749,23.464871,8.927869,23.457845
74917199999,35.13500,-118.439222,1219.5,30.549206,23.571429,11166.666667,NaN,24.179675,NaN,60.400000,...,NaN,NaN,999.900000,0.000000,46.935714,23.571429,9.139683,23.571429,8.940476,23.571429

In [20]:
# Average wind data from 2017 - 2019 in surrounding Goldstone, CA area.
NOAA_wind.groupby('STATION').mean()

,LATITUDE,LONGITUDE,ELEVATION,GUST,MAX,GUST,MXSPD,WDSP,WDSP_ATTRIBUTES
STATION,,,,,,,,,
72295303183,35.06667,-118.150000,849.5,30.441457,77.195205,30.441457,22.000799,10.449658,23.791096
72317153144,34.98833,-117.864720,695.9,26.330017,81.662549,26.330017,17.826413,8.113535,23.183968
72381023114,34.90000,-117.866670,704.4,28.320737,80.722210,28.320737,18.996241,9.014237,23.629841
72384023155,35.43440,-119.054200,149.0,19.978339,82.137003,19.978339,11.627015,5.048014,23.989784
74612093104,35.68750,-117.693100,679.7,26.632212,84.220471,26.632212,15.946706,7.205294,23.162353
74917100479,35.13490,-118.439300,1219.5,23.951555,68.691335,23.951555,17.889110,8.927869,23.457845
74917199999,35.13500,-118.439222,1219.5,24.179675,60.400000,24.179675,17.946032,8.940476,23.571429

In [22]:
NOAA_percip.groupby('STATION').mean()

             LATITUDE   LONGITUDE  ELEVATION      VISIB  VISIB_ATTRIBUTES
STATION
72295303183  35.06667 -118.150000      849.5   9.864726         23.775114
72317153144  34.98833 -117.864720      695.9   9.004993         23.180026
72381023114  34.90000 -117.866670      704.4  43.032232         23.626424
72384023155  35.43440 -119.054200      149.0   9.241884         23.996595
74612093104  35.68750 -117.693100      679.7   9.948706         23.368235
74917100479  35.13490 -118.439300     1219.5   9.290749         23.464871
74917199999  35.13500 -118.439222     1219.5   9.139683         23.571429

In [24]:
NOAA_temp.groupby('STATION').mean()

,LATITUDE,LONGITUDE,ELEVATION,STP,STP_ATTRIBUTES,TEMP,TEMP_ATTRIBUTES
STATION,,,,,,,
72295303183,35.06667,-118.150000,849.5,917.859361,23.254566,64.648973,23.793379
72317153144,34.98833,-117.864720,695.9,934.551905,22.440210,64.447043,23.185283
72381023114,34.90000,-117.866670,704.4,933.786560,22.908884,63.632005,23.630979
72384023155,35.43440,-119.054200,149.0,712.476504,23.982974,68.065380,23.997730
74612093104,35.68750,-117.693100,679.7,933.589059,23.321176,67.569412,23.383529
74917100479,35.13490,-118.439300,1219.5,880.368150,22.916862,55.589930,23.473068
74917199999,35.13500,-118.439222,1219.5,999.900000,0.000000,46.935714,23.571429

In [25]:
NOAA_percip.groupby('STATION').mean()

,LATITUDE,LONGITUDE,ELEVATION,DEWP,DEWP_ATTRIBUTES,FRSHTT,FRSHTT_ATTRIBUTES,PRCP
STATION,,,,,,,,
72295303183,35.06667,-118.150000,849.5,33.661644,23.785388,308.264840,NaN,0.000000
72317153144,34.98833,-117.864720,695.9,34.748752,23.173456,3381.156373,NaN,0.012237
72381023114,34.90000,-117.866670,704.4,33.836333,23.584282,1858.849658,NaN,0.009989
72384023155,35.43440,-119.054200,149.0,44.841090,23.979569,4824.131669,NaN,0.019251
74612093104,35.68750,-117.693100,679.7,30.228588,23.368235,1305.988235,NaN,0.010426
74917100479,35.13490,-118.439300,1219.5,35.471194,23.468384,9879.484778,NaN,0.000000
74917199999,35.13500,-118.439222,1219.5,30.549206,23.571429,11166.666667,NaN,0.000000